.footer {
    background-color: #f8f9fa;
    color: rgb(116, 116, 116);
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin: 5px 0;
}
